POSTGRES_DB=lms
POSTGRES_USER=lms
POSTGRES_PASSWORD=lms

PORT=8000
JWT_SECRET=change-me-now

JITSI_BASE_URL=http://localhost:8081
JITSI_DOMAIN=http://localhost:8081
JITSI_XMPP_DOMAIN=localhost
JITSI_APP_ID=lms-app
JITSI_APP_SECRET=change-me-now
JITSI_JWT_ISSUER=lms-app
JITSI_JWT_AUDIENCE=jitsi
JITSI_JWT_SUBJECT=localhost
JITSI_TOKEN_TTL_MINUTES=120
